/*
 * Copyright 2025 Julien Bombled
 * Component Styles Index
 */

@import url('./buttons.css');
@import url('./modals.css');
@import url('./cards.css');
@import url('./forms.css');
@import url('./tabs.css');
@import url('./loading.css');
@import url('./tooltips.css');
@import url('./menus.css');
@import url('./toasts.css');
